*.pyc
*.pyo
*~
*.swp
*.egg-info
.*.cfg
*.db
*.sqlite3
.children
.project
.ropeproject
package-lock.json
bin
develop-eggs
eggs
parts
MANIFEST
dist/
!ostinato/admin/static/ostinato/dist/
venv/
build/
node_modules/
