{% extends 'base.html' %}

{% comment %}
	
	This template demonstrates how you can create different layout
	templates for ostinato.

	This example assumes you have the flatpages app installed.

	In order to use these templates, you need to create custom
	'layout_views' in your project, and then registern them with
	ostinato.

	In this case, we specified that the instance will be passed to
	the template as 'flatpage'.

{% endcomment %}

{% block content %}
<h1>{{ flatpage.title }}</h1>

{{ flatpage.content|safe }}

{% endblock %}
