<!doctype html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
    
    {% load pages_tags %}

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <title>Ostinato Demo</title>
        
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />
        
        <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    
    <body lang="en">

        <header>
            <h1>Ostinato Demo</h1>

            <nav>
                {% navbar %}
            </nav>
        </header>

        <section id="content">
            <p>breadcrumbs: {% breadcrumbs %}</p>
            {% block content %}
            {% endblock %}
        </section>

        <footer>
        </footer>
    </body>
    
</html>