{% load staticfiles %}
{% load url from future %}

<span id="_page_{{ obj.id }}">
    
    <a class="ostinato_page_move"
        href="#"
        title="move page"><img src="{% static 'pages/img/move.png' %}" /></a>

    <a class="ostinato_page_duplicate"
        href="#"
        title="duplicate page"><img src="{% static 'pages/img/duplicate.png' %}" /></a>

    <a class="ostinato_move_action _left_of"
        href="#"
        title="before"><img src="{% static 'pages/img/before.png' %}" /></a>

    <a class="ostinato_move_action _right_of"
        href="#"
        title="after"><img src="{% static 'pages/img/after.png' %}" /></a>

    <a class="ostinato_move_action _child_of"
        href="#"
        title="as descendant"><img src="{% static 'pages/img/as_child.png' %}" /></a>

    <a class="ostinato_new_child"
        href="{% url 'admin:pages_page_add' %}?parent={{ obj.id }}"
        title="new page below"><img src="{% static 'pages/img/new_child.png' %}" /></a>

    <a class="ostinato_cancel_move"
        href="#"
        title="cancel action"><img src="{% static 'pages/img/cancel.png' %}" /></a>

</span>
