<!doctype html>
<html>
  {# load pages_tags menus_tags static #}
  {% load pages_tags static %}

  <head>
    <meta charset="utf-8" />

    <title>{% block title %}Ostinato Demo{% endblock %}</title>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,400italic,600italic' rel='stylesheet' type='text/css'>
  </head>

  <body lang="en">

    <header>
      <a href="/">Ostinato Demo</a>
      {# navbar 'main-menu' #}
    </header>

    <div id="pageContent">
      {% block content %}
      {% endblock %}
    </div>

    <footer>
      <p>Copyright &copy; Andre Engelbrecht, 2013-{% now "Y" %}. All rights reserved.</p>
    </footer>

  </body>
</html>
