<!doctype html>
<html>

    {% load pages_tags %}

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{% block title %}{% endblock %}Ostinato Demo</title>

        <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,400italic,600italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />

    </head>

    <body lang="en">

        <header>
            <div class="inner">
                <h1>Ostinato Demo</h1>

                <nav>
                    {% navbar %}
                </nav>
            </div>
        </header>

        <section id="content">
            <div class="crumbs">{% block breadcrumbs %}{% breadcrumbs page %}{% endblock %}</div>
            {% block content %}
            {% endblock %}
        </section>

        <footer>
            <div class="inner">
                <p>Copyright &copy; Andre Engelbrecht, 2013. All rights reserved.</p>
            </div>
        </footer>
    </body>

</html>
