{% comment %}

	This tag renders the ostinato toolbar that will allow the user
	to edit the ContentItem data, as well as manage the nav items, and
	general page structure.

{% endcomment %}

{% if user_can_edit %}
	<div id="ostinato_toolbar_content">
	{% if cms_item %}
		<h4>Ostinato Content Editor</h4>

		{# TODO: Work on the form layout #}
		<form action="." method="post">{% csrf_token %}
			{{ cms_item_form.as_p }}
			<input type="submit" name="save_cms_item" value="Save" />
		</form>
	{% else %}
		<p>The current page does not support editing. Contact the site administrator if you want to edit this page.</p>
	{% endif %}
	</div>
{% endif %}