{% extends 'pages/base.html' %}
{% load taggit_extras %}


{% block content %}
    <h1>Latest Entries</h1>

    {% for entry in latest_entries %}
    <article>
        <h2>{{ entry.title }}</h2>
        {{ entry.content|safe }}
        <p><a href="{{ entry.get_absolute_url }}">More</a></p>
    </article>
    {% endfor %}

    {% get_taglist as tags for 'blog.Entry' %}
    <section class="tags">
        <h3>Tags</h3>
        <ul>
            {% for tag in tags %}
            <li><a href="#">{{ tag }} ({{ tag.num_times }})</a></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}