<!DOCTYPE HTML>

<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <title>Ostinato Demo Project</title>
        
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" type="text/css" media="screen" charset="utf-8" />

    </head>

    {% load pages_tags %}

    <body>

        <h1>Ostinato Demo</h1>

        <nav>
            {% navbar path=request.path %}
        </nav>

        {% if not page.is_leaf_node %}
            {% navbar for_page=page %}
        {% endif %}

        <div id="content">
            {% block content %}{% endblock %}
        </div>

    </body>
</html>