<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Ostinato Editor</title>
  </head>

  <body>
    <div id="editor"></div>

    <script type="module">
      import '{{ editorjs_import }}';

      function handleEditorMessages(msg) {
        import(msg.configPath).then(function(m) {
          var config = m.editorConfig;
          var editor;

          config.holder = 'editor';

          config.onChange = function() {
            editor.save().then((outputData) => {
              if (outputData) window.parent.postMessage({
                editorSaved: outputData,
              });
            });
          };

          if (msg.data) {
            config.data = msg.data;
          }

          editor = new EditorJS(config);
          editor.isReady.then(() => {
            let customStyles = document.createElement('link');
            customStyles.id = "#__osEditorStyles";
            customStyles.rel = "stylesheet";
            customStyles.type = "text/css";
            customStyles.href = "{{ EDITOR_CSS_PATH }}";
            document.querySelector('head').appendChild(customStyles);

            window.setTimeout(() => {
              window.parent.postMessage({editorReady: true});
            }, 100);
          })

        });
      }

      window.addEventListener("message", function(ev) {
        // TODO - SECURITY! Make sure we verify domain here
        if (ev.data) {
          if (ev.data.editor) handleEditorMessages(ev.data.editor);
        }
      });
    </script>
  </body>
</html>
