{% load static %}
<script src="{{ actions_script }}"></script>
<link rel="import" href="{% static 'contentbrowser/ostinato-content-browser.html' %}">

<paper-icon-button id="_open{{ widget_id }}" icon="view-module"></paper-icon-button>

<ostinato-cb-browser id="_cb{{ widget_id }}"
                     field-name="{{ field_name }}"
                     with-backdrop>
    {% for browser in browsers %}
    <ostinato-cb-category widget="{{ widget_id }}"
                          url="{% url 'ostinato_contentbrowser_browser' browser.browser_id %}"
                          title="{{ browser.title }}"
                          description="{{ browser.description }}"></ostinato-cb-category>
    {% endfor %}
</ostinato-cb-browser>

<script>
    (function() {
        var cb = document.querySelector('#_cb{{ widget_id }}'),
            btn = document.querySelector('#_open{{ widget_id }}');
        btn.addEventListener('click', function() {
            cb.open();
        });
    })();
</script>
