{% extends 'xhr_base.html' %}
{% load content_filters %}

{% block xhr_content %}
    <article>
        {{ page.contents.content|modify|safe }}
    </article>

    <div class="formContent">
        <form action="." method="post" accept-charset="utf-8" is="ostinato-xhr-form" target-selector=".formContent">
            {% csrf_token %}
            {% for field in form %}
                {{ field.errors }}
                <paper-input-container always-float-label="true">
                    {{ field.label_tag }}
                    {{ field }}
                </paper-input-container>
            {% endfor %}

            <paper-button confirm>Submit <iron-icon icon="send"></iron-icon></paper-button>
        </form>
    </div>
{% endblock %}
