{% extends 'xhr_base.html' %}
{% load content_filters %}

{% block xhr_content %}
<article>
    {{ page.contents.content|modify|safe }}
</article>

<div class="media">
    {% with page.contents.images as images %}
    {% if images %}
    <div class="images">
        {% for image in images.all %}
        <img src="{{ image.image.url }}" alt="{{ image.title }}" width="480">
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% with page.contents.videos as videos %}
    {% if videos %}
    <div class="videos">
        {% for video in videos %}
        <div>
            {{ video.video_url|modify:"youtube"|safe }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
</div>
{% endblock %}
